body {
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: #040404;
    font-size: 17px;
    font-weight: 300;
    
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.content-bold {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.heading {
    text-align: center;
    font-family: "Libre Baskerville";
    color: #A07F5D;
    margin-top: 50px;
    font-size: 36px;
}

.text {
    text-align: center;
    color: #C4C4C4;
    margin-top: 10px;
}
html {
  scroll-behavior: smooth;
}
