.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 30px;
  /* background-color: #1a1a1a; */
  color: #fff;
  flex-wrap: wrap;
  gap: 50px;
  border-top: 2px solid #A07F5D;
}

#gym-name {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  font-weight: 600;
  color: #A07F5D;
  /* margin-bottom: 15px; */
}

#quick-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  list-style: none;
  padding-left: 0;
}

#quick-links li a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  transition: color 0.3s;
}

#quick-links li a:hover {
  color: #A07F5D;
}

.contact-us {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}
.contact{
    display: flex;
    gap: 20px;
}
.c-content {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #ddd;
}

.contact-icon {
  height: 22px;
  width: 26px;
}

#icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.icon {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

#youtube {
  width: 30px;
}

/* Tablet */
@media (max-width: 1024px) {
  /* .footer-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 40px 20px;
  } */

  /* #quick-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 40px;
  } */
   .contact-us{

   }
   .c-content{
    max-width: 120px;
   }
}

/* Mobile */
@media (max-width: 768px) {
  .footer-section {
    padding: 30px 20px;
  }

  #gym-name {
    font-size: 28px;
  }

  .contact-us {
    align-items: center;
  }

  #icons {
    justify-content: center;
  }

  .c-content {
    justify-content: center;
  }
}
